$blue: #89b4fa;
$red: #f38ba8;
$primary: #cdd6f4;
$dark: #1e1e2e;
$light: #585b70;
$surface: $light;

@import "bootstrap-5.0.2/scss/bootstrap";

body {
    color: $primary;
    background-color: $dark;
}

.link-blue {
    color: $blue;
}

.red-panda {
    color: $red;
}

.border-surface {
    border-color: $red;
}
